[MASTER]
disable=
    C0301, #LINHA MUITO GRANDE PROVAVELMENTE TEM ESPACOS DEMAIS
    C0114, #MODULO DOCSTRING
    C0103, #RECLAMA DO PADRAO UNDERLINE NAS VARIAVEIS --- id_
    W0622, #REDEFINICAO DE ATRIBUTO
    E1101, #RECLAMA QUE UMA INSTANCIA NAO POSSUI CERTO TIPO
    E0401 #ELE RECLAMA DAS IMPORTACOES